/*
    Created on : 23.03.2015, 15:18:27
    Author     : Aleksandr Epp <aleksandr.epp@gmail.com>
*/

@media only screen and (min-width:1440px){
    /* styles for browsers larger than 1440px; */
}
@media only screen and (min-width:2000px){
    /* for sumo sized (mac) screens */
}
@media only screen and (max-device-width:480px){
    /* styles for mobile browsers smaller than 480px; (iPhone) */
}
@media only screen and (device-width:768px){
    /* default iPad screens */
}
/* different techniques for iPad screening */
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
    /* For portrait layouts only */
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
    /* For landscape layouts only */
}

@font-face { font-family: FontFancy; src: url('../fonts/font-fancy.ttf'); }

html, body {
    height: 100%;
    width: 100%;
}

header img{
    cursor: pointer;
}

.wephoto-h1{
    margin-bottom: 0px !important;
    line-height: inherit !important;
}

.font-cursive{
    font-family: FontFancy;
    font-size: 126px;
}

#page-content{
    padding: 0px !important;
}

footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background: transparent !important;
}