/*
    Created on : 27.03.2015, 20:27:36
    Author     : Aleksandr Epp <aleksandr.epp@gmail.com>
*/


/* for correct alignment */
.carousel-inner > .item > img { margin: 0 auto; }

.carousel-control{
    background-image: none !important;
}

.carousel,.item,.active{height:100%;}
.carousel-inner{height:100%;}
.fill{width:100%;height:100%;background-position:center;background-size:cover;}

.carousel-fade .carousel-inner .item {
    opacity: 0;
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
    opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    opacity: 0;
    z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}
.carousel-fade {
    z-index: 2;
}

/* Backround photos */
.home-background-1{
    background-image: url('../img/backgrounds/home_1.jpg');
}
.home-background-2{
    background-image: url("../img/backgrounds/home_2.jpg");
}
.home-background-3{
    background-image: url('../img/backgrounds/home_3.jpg');
}
.home-background-4{
    background-image: url('../img/backgrounds/home_4.jpg');
}
.home-background-5{
    background-image: url('../img/backgrounds/home_5.jpg');
}
.home-background-6{
    background-image: url("../img/backgrounds/home_6.jpg");
}
.home-background-7{
    background-image: url('../img/backgrounds/home_7.jpg');
}
.home-background-8{
    background-image: url('../img/backgrounds/home_8.jpg');
}