/*
    Created on : 24.03.2015, 12:22:17
    Author     : Aleksandr Epp <aleksandr.epp@gmail.com>
*/

@media only screen and (max-width: 1220px){
    .navbar-wrapper {
        background-color: rgba(255, 255, 255, 0.8);
        background: rgba(255, 255, 255, 0.8);
        margin-bottom: 0px;
    }
    .prev, .next{
        visibility: hidden;
    }
    #logo-img{
        height: 50px;
        width: 150px;
        background-image: url('../img/logo150x50.png');
    }
}

@media only screen and (min-width: 1220px){
    /*    .navbar-wrapper {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            z-index: 10;
        }*/
    .navbar-wrapper {
        background-color: rgba(255, 255, 255, 0.2);
        background: rgba(255, 255, 255, 0.2);
        margin-bottom: 0px;
    }
    .prev, .next{
        visibility: visible;
    }
    #logo-img{
        height: 80px;
        width: 240px;
        background-image: url('../img/logo240x80.png');
    }
}

nav{
    overflow: hidden !important;
}

nav a{
    font-size: 1em;
    letter-spacing: 0px;
}

.navbar-default{
    border-color: rgba(222, 222, 222, 0.5) !important;
}

.navbar-toggle{
    background-color: transparent !important;
    background: transparent !important;
}

#navbar-top{
    width: 98% !important;
}

#navbar-top .nav>.active>a{
    text-decoration: none;
    background-color: transparent;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:before {
    font-weight: bold;
    color: rgba(0,0,0,0.8);
    background-image: none;
    background-repeat: no-repeat;
    box-shadow: none;
}

#logo-img{
    cursor: pointer;
}