/*
    Created on : 28.03.2015, 19:09:38
    Author     : Aleksandr Epp <aleksandr.epp@gmail.com>
*/
#gallery-thumbnails{
    text-align: center;
}

#gallery-thumbnails img{
    /*width: 20%;*/
    vertical-align: middle;
}

#gallery-thumbnails a{
    text-decoration: none;
    font-size: 0px;
}